mixin alert-danger(duration)
  div(class="alert alert-danger" time=duration error-validate)
     | #{messages.error}

mixin alert-success(duration)
  div(class="alert alert-success" time=duration error-validate)
     | #{messages.success}


