extends ../../layouts/default.pug
include ../../mixins/products-list.pug
include ../../mixins/alert-error.pug
block main
    -if(messages.success)
        +alert-success(2000)
    -if(messages.error)
        +alert-danger(2000)
    .container 
        h2 #{pageTitle}
        form(
            action = '/user/password/forgot'
            method='POST'
        )
            .form-group
                label(for="email") Nhập email
                input(type="text" class="form-control" id="email" name='email')
            
            button(type="submit" class="btn btn-primary form-control mb-10" style='margin-bottom: 10px') Xác nhận

