extends ../../layouts/default.pug
include ../../mixins/products-list.pug
include ../../mixins/alert-error.pug
block main
    -if(messages.success)
        +alert-success(2000)
    -if(messages.error)
        +alert-danger(2000)
    .container 
        h2 #{pageTitle}
        form(
            action = '/user/password/reset'
            method='POST'
        )

            .form-group
                label(for="password") Nhập mật khẩu mới
                input(type="password" class="form-control" id="password" name='password')

            .form-group
                label(for="confirmPassword") Xác nhận mật khẩu
                input(type="password" class="form-control" id="confirmPassword" name='confirmPassword')
            
            
            button(type="submit" class="btn btn-primary form-control mb-10" style='margin-bottom: 10px') Xác nhận

